<!DOCTYPE html>
<html>
<head>
    <title>Bitcoin USD (BTC-USD) Interractive Stock Data</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body {
            background: url('/static/btc.jpg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
     <div id="curve_chart" style="width: 100%; height: 1300px;">
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load('current', {'packages': ['corechart']});
                google.charts.setOnLoadCallback(drawChart);
            
                function drawChart() {
                    var chartData = {{ chartData_json | safe }}; // Retrieve chart data from a Flask server. The data is marked as 'safe' for HTML rendering.

                    var data = new google.visualization.DataTable();
                    data.addColumn('date', 'Date'); // Add a column for date values.
                    data.addColumn('number', 'Bitcoin Price'); // Add a column for numeric values representing Bitcoin prices.

                    // Loop through each entry in chartData and add it as a row to the DataTable.
                    for (var i = 0; i < chartData.length; i++) {
                        data.addRow([new Date(chartData[i][0]), chartData[i][1]]);
                    }
                
                    var options = {
                        title: 'Bitcoin Data', // Chart title.
                        curveType: 'function', // Line chart will be drawn as a smooth curve.
                        legend: { position: 'bottom' }, // Position the legend at the bottom of the chart.
                        hAxis: {
                            slantedText: true, // Slant the horizontal axis text for better readability.
                            slantedTextAngle: 45, // Angle of slant for the axis text.
                            gridlines: { count: 5 } // Show only 5 gridlines on the horizontal axis for clarity.
                        }
                    };
                
                    // Create a LineChart object, targeting the HTML element with id 'curve_chart'.
                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                
                    // Draw the chart with the specified data and options.
                    chart.draw(data, options);
                }

            </script>
        </div>
</head>
<body>
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">BDAT Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/data">Bitcoin Data</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api-documentation">API Documentation</a>
                </li>
            </ul>
        </div>
    </nav>      
    <!-- Footer -->
    <div class="footer-placeholder"></div>
    <footer class="footer bg-dark text-white">
        <div class="container text-center">
            <span>&copy; 2023 BTC APP. All rights reserved.</span>
        </div>
    </footer>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

























